.ui-button {
  width: fit-content;
  @include ui-font(1px, solid, $transparent);

  &.MuiButton-containedNeutral {
    @include ui-bg-color($gray-400);

    &:hover {
      @include ui-bg-color($gray-500);
    }
  }

  &.MuiButton-outlinedNeutral {
    @include ui-border-color($gray-400);

    & > .MuiTouchRipple-root {
      @include ui-font-color($gray-400);
    }

    & > .ui-typography.MuiTypography-button {
      @include ui-font-color($gray-400);
    }

    &:hover {
      @include ui-border-color($gray-400);
      @include ui-bg-color($gray-50);
    }

    & > .MuiButton-startIcon > .MuiSvgIcon-root {
      @include ui-fill($gray-400);
    }
  }

  &.MuiButton-textNeutral {
    @include ui-font-color($gray-400);

    & > .MuiTouchRipple-root {
      @include ui-font-color($gray-400);
    }

    & > .ui-typography.MuiTypography-button {
      @include ui-font-color($gray-400);
    }

    &:hover {
      @include ui-font-color($gray-400);
      @include ui-bg-color($gray-50);
    }
  }

  &.MuiButton-containedPrimary {
    @include ui-bg-color($green-400);

    &:hover {
      @include ui-bg-color($green-500);
    }
  }

  &.MuiButton-outlinedPrimary {
    @include ui-border-color($green-400);

    & > .MuiTouchRipple-root {
      @include ui-font-color($green-400);
    }

    & > .ui-typography.MuiTypography-button {
      @include ui-font-color($green-400);
    }

    &:hover {
      @include ui-border-color($green-400);
      @include ui-bg-color(#04a18c05);
    }

    & > .MuiButton-startIcon > .MuiSvgIcon-root {
      @include ui-fill($green-400);
    }
  }

  &.MuiButton-textPrimary {
    @include ui-font-color($green-400);

    & > .MuiTouchRipple-root {
      @include ui-font-color($green-400);
    }

    & > .ui-typography.MuiTypography-button {
      @include ui-font-color($green-400);
    }

    &:hover {
      @include ui-font-color($green-400);
      @include ui-bg-color(#04a18c07);
    }
  }

  &.MuiButton-sizeSmall {
    @include ui-py-2;
  }

  &.MuiButton-sizeMedium {
    @include ui-py-4;
  }

  &.MuiButton-sizeLarge {
    @include ui-py-5;
  }

  &.MuiButton-root {
    @include ui-box-shadow-none;

    &:hover {
      @include ui-box-shadow-none;
    }

    &:active {
      @include ui-box-shadow-none;
    }
  }

  & > .MuiButton-endIcon {
    & > *:nth-of-type(1) {
      font-size: inherit;
    }
  }

  & > .ui-typography.MuiTypography-button {
    @include ui-pt(1px);
  }

  & > .MuiButton-startIcon > .MuiCircularProgress-root {
    width: 1rem !important;
    height: 1rem !important;
  }

  & > .MuiButton-endIcon > .MuiChip-root {
    @include ui-px-2;
  }
  & > .MuiButton-startIcon > .MuiChip-root {
    @include ui-px-2;
  }

  &.Mui-disabled > .ui-typography.MuiTypography-button {
    @include ui-font-color($gray-500);
  }

  &__icon {
    &.MuiButton-sizeSmall {
      min-width: auto;

      @include ui-size(28px);
    }

    &.MuiButton-sizeMedium {
      min-width: auto;

      @include ui-size(38px);
    }

    &.MuiButton-sizeLarge {
      min-width: auto;

      @include ui-size(44px);
    }

    & > .MuiButton-startIcon {
      @include ui-m-0;
    }
  }

  &--rounded.MuiButton-root {
    @include ui-rounded;
  }
}
