@mixin ui-font-color($color) {
  color: $color;
}

@mixin ui-font-size($size) {
  font-size: $size;
}

@mixin ui-font-weight($weight) {
  font-weight: $weight;
}

@mixin ui-line-height($height) {
  line-height: $height;
}

@mixin ui-font($size: 1rem, $weight: 400, $color, $line-height: normal) {
  @include ui-font-size($size);
  @include ui-font-color($color);
  @include ui-font-weight($weight);
  @include ui-line-height($line-height);
  @include ui-truncate;
}
