*,
::after,
::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

html {
  min-width: 360px;

  scroll-behavior: smooth;
}

body {
  overflow-x: auto;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  user-select: none;
}
